// Mixins Here
.btn(@Fcolor,@bgc) {
  color: @Fcolor;
  background-color: @bgc;
  width: 30%;
  height: 3.8rem;
  font-size: 2rem;
  text-align: center;
  padding: 3% 0;
  border-radius: 5px;

  &:hover {
    background-color: @Fcolor;
    color: @bgc;
  }
}
.flexIt(@justif) {
  display: flex;
  justify-content: @justif;
}
.scaleIt(@width,@height) {
  width: @width;
  height: @height;
}
.anim(@dely,@time) {
  visibility: hidden;
  animation-name: fade;
  animation-delay: @dely;
  animation-duration: @time;
  visibility: visible;
}
