// Navigation code here
.top {
  .flexIt(center);
  flex-direction: column;

  align-items: center;
  background-color: @wild-sand;
  h1 {
    font-size: 3.9rem;
  }

  nav {
    .flexIt(space-between);
    align-items: center;
    width: 30%;
    font-size: 1.8rem;
    margin: 1%;
    @media @fone {
      width: 90%;
      margin: 3%;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}
